# 從 Discord Developer Portal 取得
DISCORD_TOKEN=你的機器人Token

# 預約頻道設定
BOOKING_PARENT_CHANNEL_ID=預約區頻道ID（機器人會在這個頻道底下自動開每日討論串）
# 紀錄頻道設定
ADMIN_CHANNEL_ID=你的紀錄頻道ID
# 公告頻道設定
ANNOUNCEMENT_CHANNEL_ID=你的公告頻道ID
# 管理頻道設定
MANAGEMENT_CHANNEL_ID=你的管理頻道ID